@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #111;
  background: #fff;
}
h1, h2, h3 { margin: 8px 0;text-align: center; }
img { display: block; max-width: 100%; }
input {
  outline: none;
}
@media (max-width: 600px) {
  main { padding: 8px; }
}
